//##############################################
//################# variables   ################
//##############################################

// backgrounds:
$header-bg: #161616;
$body-bg: #252525;

// colors:
$header-c: #eeeeee;
