//##############################################
//################# variables   ################
//##############################################

// backgrounds:
$header-bg: #161616;
$body-bg: #252525;
$item1-bg: #a0a0a0;
$item-hover-bg: #ffa60062;

// colors:
$header-c: #eeeeee;
$item-border-c: #ffa500;
$item-c: #ffffff;
