@import "reset";
@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $body-bg;
  min-height: 200vh;
}

header {
  width: 100%;
  height: 30vh;
  display: grid;
  place-content: center;
  background: $header-bg;

  h1 {
    text-transform: uppercase;
    color: $header-c;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;

  .calculator {
    width: 800px;
    height: 500px;
    background: #000;
  }
}
